@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Jost:wght@500;700&family=Public+Sans:wght@300;400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: "Public Sans", sans-serif;
  }
  /**header**/
  header {
    position: relative;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 0%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #toggle {
    display: none;
    }

  .top{
    margin-left:0px;
    padding-left:-125px;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    
  }
  li{
    display: inline;
    padding: 2rem 0.5rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    
  }
ul{
    justify-content: space-between;
}
.logo{
    padding-left: 125px;
}
.request{
    cursor: pointer;;
    margin-left:-290px;
    border-radius:50px;
    padding: 0.875rem 2.125rem;
    background: linear-gradient(280deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
}
/**body**/
.phones{
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    
}
.bgg{
    position: relative;
    height: 100%;
    width:50%;
    min-height:51rem;
    margin-top:0%;
    overflow: visible;
    z-index: 1;
}
  .unanimous {
    position: absolute;
    min-height:41rem;
    width: 100%;
    padding-top:20px;
    display: flex;
    margin-top:20px;
    justify-content: flex-end;
    background-position: right bottom,right bottom;
  }
  .unanimous {
    min-height:70rem;
    background-image: url("./images/bg-intro-mobile.svg");
    background-position:right top;
    background-size: 60% 66%;
    background-repeat: no-repeat;
    z-index:1;
    margin-bottom: 100px;
  }
  .overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    /* Adjust width and height to fit your needs */
}
  .una-text {
    max-width: 500px;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 100%;
  }
  .una-text h1 {
    margin-top: 135px;
    margin-left: 100px;
    font-size: 3rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    line-height: 1.2;
    padding-bottom: 1.2rem;
  }
  .una-text p {
    margin-left: 100px;
    padding-bottom: 2.2rem;
    color: hsl(233, 8%, 62%);
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .request1{
    margin-left: 100px;
    cursor: pointer;
    border-radius:55px;
    padding: 0.875rem 2.125rem;
    background: linear-gradient(280deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  }
  .root h2 {
    font-size: 2.25rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1.2rem;
    position: relative;
    padding-left:100px;
    padding-top:50px;
  }
.main{
    padding-top:50px;
    margin-top: 290px;
    padding-left:100px;
    font-weight: 100;
    font-size: 1.5rem;
    line-height:2.2;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%); 
    background-color: hsl(0, 6%, 62%);
    
}
.new{
    padding-top:50px;
}
.options,.article{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left:50px;
    
}
.main h1{
    margin-top:100px;
    max-width:1000px;
    font-weight:400px;
    line-height:2.0rem;
}
.main p{
    
    font-size: 1.0rem;
    max-width:550px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.online h3,.budget h3,.onboard h3,.openapi h3{
    cursor: pointer;
}
.online h3:hover{
    color: green;
}
.budget h3:hover{
    color: green;
}
.onboard h3:hover{
    color: green;
}
.openapi h3:hover{
    color: green;
}
.online p,.budget p,.onboard p,.openapi p{
    margin-top:0px;
    max-width:250px;
    color:black;
    margin-right:50px;
    padding-top:20px;
}
.image1 img{
    width:80%;
    height:100%;
   
}

.art-text p,h3{
    max-width:250px;
    line-height:1.5rem;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.art-text p{
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.art-text h3:hover {
    color: green; 
    cursor: pointer; 
  }
/**footer**/
.foot{
    background-color:hsl(233, 26%, 24%);
    position: relative;
}
.sociallogos{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 1rem;
}
.info,.secure{
    font-size: large;
    padding-bottom:10px;
    padding-top: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: relative;
}
.info a,.secure a{
    font-weight: 400;
    color: white;
    padding-top: 20px;
    font-size: large;
}
.fstart{
        min-height: 190px;
        max-width: 1150px;
        margin: auto;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        gap: 1.2rem;
}
.last_section{
    text-align: right;
}
.links{
    bottom:10px;
}
.links ul li img {
  width: 24px; /* Adjust image size as needed */
}
.links {
    text-align: left;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding-top:60px;
  }
.links{
        
        cursor: pointer;
        
}
.last_section p {
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(216, 210, 210);
  }
  .cta_btn{
    margin-left: 100px;
    border-radius:55px;
    padding: 0.875rem 2.125rem;
    background: linear-gradient(280deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  }
  .links #fb:hover img {
    content: url("./images/green-icon-facebook.svg");
    animation: blink 2s infinite;
  }
  .links #yt:hover {
    content: url("./images/green-icon-youtube.svg");
    animation: blink 2s infinite;
  }
  .links #tw:hover{
    content: url("./images/green-icon-twitter.svg");
    animation: blink 2s infinite;
  }
  .links #pt:hover  {
    content: url("./images/green-icon-pinterest.svg");
    animation: blink 2s infinite;
  }
  .links #it :hover  {
    content: url("./images/green-icon-instagram.svg");
    animation: blink 2s infinite;
  }
  
  
  .as{
    display: flex;
    flex-direction: column;
    margin-bottom:50px;
    justify-content: space-between;
  }

/* Apply the blinking animation on hover */




  /*  mobile version */
  /* mobile version */
@media screen and (max-width:600px) {
  
.request {
  display:none;
}

  .logo{
    justify-content: left;
    padding:10px;
    max-width:1px;
    max-height:60px;
    margin-left:0px;
  }
  .unanimous {
    min-height:31rem;
    max-width:1000px;
    width:200%;
    padding-top:10px;
    max-height:600px;
    margin-top:12px;
    margin-left:-270px;
  }
  .bgg{
    height: 50%;
    width:50%;
    min-height:12rem;
    margin-top:0%;
    overflow: visible;
    z-index: 1;
}
.request1{
  cursor: pointer;;
  margin-left:50px;
  border-radius:45px;
  padding:20px 20px;
  font-size:medium;
  max-height:7px;
  margin-top:-20px;
  text-align: center;
  background : linear-gradient(280deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
}
.una-text h1 {
  margin-left:40px;
  font-size:larger;
  margin-top:350px;
  font-weight:600;
  max-width:350px;
}
.una-text p {
  margin-left:35px;
  max-width:125px;
  font-weight:100;
  font-size:small;
  margin-left:40px ;
  text-align: center;
}
.main{
  padding-top:2px;
  margin-top:50px;
  padding-left:10px;
  font-weight: 100;
  font-size: 1.0rem;
  line-height:1.5rem;
  max-width:100%;
}
.main h1{
  text-align: center;
  margin-left:-15px;
  max-width:400px;
  font-weight:400px;
  line-height:2.0rem;
}
.main p{
  margin-top: -10px;
  font-size: 1.0rem;
  margin-left: 30px;
  max-width:350px;
  font-weight:200;
  color: hsl(233, 26%, 24%);
}
.options{
  display: flex;
  flex-direction: column;
}
.options h3{
  margin-left:30px;
}
.online img{
  margin-top:-60px;
}
.online img,.budget img,.onboard img,.openapi img{
  margin-top: 10px;
  margin-left:60px;
}
.openapi h3{
  margin-left:30px;
}
.openapi p{
  text-align: center;
  margin-left:40px
}
.article{
  display: flex;
  flex-direction: column;
}
.article img{
  margin-top:20px;
  width:95%;
  height:120%;
  padding-left:-10px;
  margin-left:-20px;
}
.article{
  margin-top:-30px;
}
.art-text h3{
  max-width:450px;
  padding-left:-20px;
  margin-left:-20px;
}
.art-text p{
  margin-left:-20px;
}

.root h2 {
  font-size: large;
  padding-left:50px;
  padding-top:30px;
}
.sociallogos{
  display:flex;
  flex-direction: column;
  max-width:375px;
  margin-left:-20px;
}
.links{
  display: flex;
  flex-direction: row;
  margin-left:30px;
  margin-right:0px;
  padding-right:0px;
  max-width:100%;
  justify-content: space-between;
}
.links {
    text-align:center;
    padding-top:30px;
}
.flogo{
  margin-left:25px;
}
.ask{
  margin-top:-50px;
  margin-left:50px;
}
.secure{
  margin-top:-30px;
}
.last_section{
  display: flex;
  flex-direction: column;
}
.fstart{
  display: flex;
  flex-direction: column;
  margin-left:-20px;
}
.cta_btn{
  margin-left:20px;
  border-radius:35px;
}
.menu {
  position: absolute;
  justify-content: center;
  padding: 20px;
  width: 90vw;
  margin-left: 5vw;
  margin-right:10vw;
  top: 10vh;
  display: none;
  border-radius: 10px;
  background-color:goldenrod;
}
#toggle {
display: none;
}
.menu ul {
list-style: none;
text-align: center;
}
#toggle-label {
margin-top:1.0vh;
height: 2vh;
width: 7vw;
background-image: url('./images/icon-hamburger.svg');
background-repeat: no-repeat;
background-size: contain;
transition: 0.3s ease;
}

#toggle:checked + .hamburg .menu {
display:block !important; 
flex-direction:row;
z-index:2;
}
#toggle:checked + #toggle-label{
background-image: url('./images/icon-close.svg');
}




}
